<launch>
    <arg name="version" default="arm2v4"/>
    <arg name="dual" default="false"/>
    <arg name="launch_rviz" default="false"/>
    <arg name="ARM" default="ARM1"/>

    <group ns="$(arg ARM)">
        <include if="$(eval arg('version') == 'arm2d2_v3')" file="$(find arm2d2_v3_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2d2_v2')" file="$(find arm2d2_v2_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2v4')" file="$(find arm2v4_description)/launch/config.launch">
            <arg name="ns" value="$(arg ARM)"/>
            <arg name="dual" value="true"/>
        </include>
        <include if="$(eval arg('version') == 'arm2v4_wrench')" file="$(find arm2v4_description)/launch/config.launch">
            <arg name="ns" value="$(arg ARM)"/>
            <arg name="dual" value="true"/>
        </include>

        <!-- added this in to try to not need arm2v4 in the other launch stuff
        <include file="$(find arm2v4_description)/launch/config.launch">
            <arg name="ns" value="$(arg ARM)"/>
        </include>         -->

        <include file="$(find apogee_robot_core)/launch/core_bringup.launch">
            <arg name="launch_rviz" value="$(arg launch_rviz)"/>
            <arg name="ns" value="$(arg ARM)"/>
        </include>

     


    </group>

    <group if="$(arg dual)" ns="ARM2">
        <include if="$(eval arg('version') == 'arm2d2_v3')" file="$(find arm2d2_v3_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2d2_v2')" file="$(find arm2d2_v2_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2v4')" file="$(find arm2v4_description)/launch/config.launch">
            <arg name="ns" value="ARM2"/>
            <arg name="dual" value="true"/>
        </include>

        <include file="$(find apogee_robot_core)/launch/core_bringup.launch">
            <arg name="launch_rviz" value="$(arg launch_rviz)"/>
            <arg name="ns" value="ARM2"/>
        </include>
    </group>

    <group ns="$(arg ARM)">
        <node pkg="apogee_robot_core" name="teensy_interface" type="teensy_interface"  output="screen"/> 
    </group>

    
    <!--<include file="$(find mujoco_ros)/launch/sim.launch" >
        <arg name="env" value="$(arg version)"/>
        <arg name="dual" value="$(arg dual)"/>
    </include>-->
    
</launch>