<launch>
    <arg name="version" default="arm2d2_v2"/>

    <group ns="ARM1">
        <include if="$(eval arg('version') == 'arm2d2_v3')" file="$(find arm2d2_v3_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2d2_v2')" file="$(find arm2d2_v2_description)/launch/config.launch"/>
        <include if="$(eval arg('version') == 'arm2v4')" file="$(find arm2v4_description)/launch/config.launch"/>

    
        <include file="$(find apogee_robot_core)/launch/core_bringup.launch"/>
    </group>

    <include file="$(find mujoco_ros)/launch/sim.launch" >
        <arg name="env" value="$(arg version)"/>
    </include>

</launch>