<launch>

    <arg name="env" default="arm2v4_wrench"/>
    <arg name="gui" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="launch_sim" default="false"/>


    <arg if="$(eval arg('env') == 'wrench')" name="ref_pcd" default="package://object_description/meshes/wrench_coarse.pcd"/>
    <arg if="$(eval arg('env') == 'cube')" name="ref_pcd" default="package://object_description/meshes/cube_coarse.pcd"/>
    <arg if="$(eval arg('env') == 'arm2v4_wrench')" name="object_stl" default="package://object_description/meshes/logo_cube1.stl"/>
    <arg if="$(eval arg('env') == 'wrench')" name="object_stl" default="package://object_description/meshes/wrench.stl"/>
    <arg if="$(eval arg('env') == 'cube')" name="object_stl" default="package://object_description/meshes/cube.stl"/>

    <rosparam file="$(find apogee_vision)/config/particle_filter_config.yaml" command="load"/>
    <rosparam file="$(find daedalus_core)/config/schedule_rates.yaml" command="load"/>

    <include file="$(find apogee_moveit_config)/launch/moveit_rviz.launch"/>


    <include if="$(arg launch_sim)" file="$(find mujoco_ros)/launch/sim.launch">
        <arg name="env" value="$(arg env)"/>
        <arg name="fixed_cam" value="false"/>
    </include>

    <node name="point_cloud" pkg="apogee_vision" type="point_cloud" output="screen"/>
    <node name="color_filter" pkg="apogee_vision" type="color_filter" output="screen" args="$(arg gui)"/> 

    <!--
    <node if="$(arg gui)" name="tracker" pkg="apogee_vision" type="object_tracking_gui" output="$(arg output)" args="$(arg ref_pcd)"/>
    <node unless="$(arg gui)" name="tracker" pkg="apogee_vision" type="object_tracking" output="$(arg output)" args="$(arg ref_pcd)"/>
    -->
    <node name="measured_pose_marker" pkg="apogee_vision" type="rviz_tracked_object" args="$(arg object_stl) /measured_object /mujoco/object_pose"/>
    <node name="object_marker_publisher" pkg="apogee_vision" type="rviz_tracked_object" args="$(arg object_stl) /deep_object_pose /object_orientation"/>

</launch>