<launch>
    <arg name="launch_rviz" default="true"/>
    <!-- State and velocity controllers -->
    <rosparam file="$(find apogee_moveit_config)/config/controllers.yaml" command="load"/>

    <!-- Describes the robot -->
    <rosparam file="$(find arm2d2_description)/config/joint_config.yaml" command="load"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find arm2d2_description)/urdf/arm2d2.urdf.xacro"/> 
    <param name="robot_description_semantic" textfile="$(find arm2d2_description)/urdf/arm2d2.srdf"/>

    <!-- Defines kinematics package -->
    <group ns="robot_description_kinematics">
        <rosparam command="load" file="$(find apogee_moveit_config)/config/kinematics.yaml"/>
    </group>

    <include file="$(find apogee_moveit_config)/launch/move_group.launch"/>

    
    <include if="$(arg launch_rviz)" file="$(find apogee_moveit_config)/launch/moveit_rviz.launch"/>


    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    args="
            /arm2d2/controllers/state
            /arm2d2/controllers/velocity"
    />

</launch>