<launch>
    <arg name="launch_rviz" default="true"/>
    <arg name="ns" default="ARM1"/>

    <rosparam param="/IK_timeout">10</rosparam>

    <!-- Defines kinematics package -->
    <group ns="robot_description_kinematics">
        <rosparam command="load" file="$(find apogee_moveit_config)/config/kinematics.yaml"/>
    </group>

    <include file="$(find apogee_moveit_config)/launch/move_group.launch"/>

    
    <include if="$(arg launch_rviz)" file="$(find apogee_moveit_config)/launch/moveit_rviz.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>


    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    args="  --namespace=/$(arg ns)
            /$(arg ns)/arm2d2/controllers/state
            /$(arg ns)/arm2d2/controllers/position"
    />

</launch>