<launch>
    <arg name="launch_rviz" default="true"/>

    <!-- Defines kinematics package -->
    <group ns="robot_description_kinematics">
        <rosparam command="load" file="$(find apogee_moveit_config)/config/kinematics.yaml"/>
    </group>

    <include file="$(find apogee_moveit_config)/launch/move_group.launch"/>

    
    <include if="$(arg launch_rviz)" file="$(find apogee_moveit_config)/launch/moveit_rviz.launch"/>


    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    args="  --namespace=/ARM1
            /ARM1/arm2d2/controllers/state
            /ARM1/arm2d2/controllers/velocity"
    />

</launch>