<launch>
    <rosparam file="$(find arm2d2_v3_description)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find arm2d2_v3_description)/config/joint_config.yaml" command="load"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find arm2d2_v3_description)/urdf/arm2d2.urdf.xacro"/> 
    <param name="robot_description_semantic" textfile="$(find arm2d2_v3_description)/urdf/arm2d2.srdf"/>
    <rosparam file="$(find arm2d2_v3_description)/config/apogee_controllers.yaml"/>

</launch>